UNSTRUCTURED_API_KEY=api-key
UNSTRUCTURED_API_URL=https://platform.unstructuredapp.io/api/v1

# Google Cloud Storage Configuration
GOOGLE_CLOUD_PROJECT=name
GCS_BUCKET_NAME=bucket
GOOGLE_APPLICATION_CREDENTIALS=file.json
PINECONE_INDEX_NAME=index-name
PINECONE_API_KEY=api-key

# GCP Pub/Sub Configuration
GCP_PUB_SUB_CREDENTIALS=/path/to/your/pubsub-service-account.json
PUBSUB_PROJECT_ID=your_gcp_project_id
PUBSUB_TOPIC=workflow-jobs
PUBSUB_SUBSCRIPTION=workflow-jobs-sub